@switch (message().type) {
    @case ("Gift") {
        <li class="gift-wrapper">
            <div class="gift-message">{{ message().text }}</div>
        </li>
    }
    @case ("Join") {
        <li class="system-message">{{ message().text }}</li>
    }
    @case ("Leave") {
        <li class="system-message">{{ message().text }}</li>
    }
    @case ("Message") {
        <li class="message" [class.self]="isSelf()">
            @if (!isSelf()) {
                <div class="nickname">{{ message().nickname }}</div>
            }
            <div class="bubble">{{ message().text }}</div>
        </li> 
    }
    @case ("System") {
        <li class="system-message">{{ message().text }}</li>
    }
    @case ("Welcome") {
        <li class="system-message">{{ message().text }}</li>
    }
}